<%-include ('header')%>
<!-- MAIN CONTENT-->
<div class="main-content">
  <div class="section__content section__content--p30">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="overview-wrap">
            <h2 class="title-1">overview</h2>
          </div>
        </div>
      </div>
      <div class="row m-t-25">
        <div class="col-sm-6 col-lg-3">
          <div class="overview-item overview-item--c1">
            <a href="/admin/view_admin">
              <div class="overview__inner">
                <div class="overview-box clearfix">
                  <div class="icon">
                    <i class="zmdi zmdi-account-o"></i>
                  </div>
                  <div class="text">
                    <h2><%=adminData%></h2>
                    <span>Admin</span>
                  </div>
                </div>
                <div class="overview-chart">
                  <canvas id="widgetChart1"></canvas>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-sm-6 col-lg-3">
          <div class="overview-item overview-item--c2">
           <a href="/admin/doctor_details/view_doctor">
            <div class="overview__inner">
              <div class="overview-box clearfix">
                <div class="icon">
                  <i class="fas fa-user-md"></i>
                </div>
                <div class="text">
                  <h2><%=doctorData%></h2>
                  <span>Doctors</span>
                </div>
              </div>
              <div class="overview-chart">
                <canvas id="widgetChart2"></canvas>
              </div>
            </div>
           </a>
          </div>
        </div>
        <div class="col-sm-6 col-lg-3">
          <div class="overview-item overview-item--c3">
            <a href="/admin/reception/view_reception">
              <div class="overview__inner">
                <div class="overview-box clearfix">
                  <div class="icon">
                    <i class="zmdi zmdi-edit"></i>
                  </div>
                  <div class="text">
                    <h2><%=receptionData%></h2>
                    <span>Receptionist</span>
                  </div>
                </div>
                <div class="overview-chart">
                  <canvas id="widgetChart3"></canvas>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-sm-6 col-lg-3">
          <div class="overview-item overview-item--c4">
            <a href="/admin/reception/view_appointment">
              <div class="overview__inner">
                <div class="overview-box clearfix">
                  <div class="icon">
                    <i class="zmdi zmdi-calendar-note"></i>
                  </div>
                  <div class="text">
                    <h2><%=appointmentData%></h2>
                    <span>Total Appointments</span>
                  </div>
                </div>
                <div class="overview-chart">
                  <canvas id="widgetChart4"></canvas>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <div class="au-card recent-report">
            <div class="au-card-inner">
              <h3 class="title-2">HOSPITAL SURVEY</h3>
              <div class="chart-info">
                <div class="chart-info__left">
                  <div class="chart-note">
                    <span class="dot dot--blue"></span>
                    <span>Admitted</span>
                  </div>
                  <div class="chart-note mr-0">
                    <span class="dot dot--green"></span>
                    <span>Discharged</span>
                  </div>
                </div>
                <div class="chart-info__right">
                  <div class="chart-statis">
                    <span class="index incre"> <i class="zmdi zmdi-long-arrow-up"></i>25%</span>
                    <span class="label">Admitted</span>
                  </div>
                  <div class="chart-statis mr-0">
                    <span class="index decre"> <i class="zmdi zmdi-long-arrow-down"></i>10%</span>
                    <span class="label">Discharged</span>
                  </div>
                </div>
              </div>
              <div class="recent-report__chart">
                <canvas id="recent-rep-chart"></canvas>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="au-card chart-percent-card">
            <div class="au-card-inner">
              <h3 class="title-2 tm-b-5">char by %</h3>
              <div class="row no-gutters">
                <div class="col-xl-6">
                  <div class="chart-note-wrap">
                    <div class="chart-note mr-0 d-block">
                      <span class="dot dot--blue"></span>
                      <span>HEART SURGERIES</span>
                    </div>
                    <div class="chart-note mr-0 d-block">
                      <span class="dot dot--red"></span>
                      <span>MEDICAL TREATMENT</span>
                    </div>
                  </div>
                </div>
                <div class="col-xl-6">
                  <div class="percent-chart">
                    <canvas id="percent-chart"></canvas>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <!-- <div class="col-lg-9"> -->
        <div class="col-lg-12">
          <h2 class="title-1 m-b-25"><span class="text-danger"><%=appointData.length%></span> NEW PATIENT LIST</h2>
          <div class="table-responsive table--no-card m-b-40">
            <table class="table table-borderless table-striped table-earning">
              <thead>
                <tr>
                  <th>no</th>
                  <th>name</th>
                  <th>email</th>
                  <th>phone</th>
                  <th>status</th>
                </tr>
              </thead>
              <tbody>
                <%var no=1;for(let ad of appointData){%>
                  <tr>
                    <td><%=no++%></td>
                    <td><%=ad.name%></td>
                    <td><%=ad.email%></td>
                    <td><%=ad.phone%></td>
                    <td>
                      <button><a href="/admin/view_admin">View more...</a></button>
                    </td>
                  </tr>
                <%}%>
              </tbody>
            </table>
          </div>
        </div>
        <!-- <div class="col-lg-3">
          <h2 class="title-1 m-b-25">Top countries</h2>
          <div class="au-card au-card--bg-blue au-card-top-countries m-b-40">
            <div class="au-card-inner">
              <div class="table-responsive">
                <table class="table table-top-countries">
                  <tbody>
                    <tr>
                      <td>United States</td>
                      <td class="text-right">$119,366.96</td>
                    </tr>
                    <tr>
                      <td>Australia</td>
                      <td class="text-right">$70,261.65</td>
                    </tr>
                    <tr>
                      <td>United Kingdom</td>
                      <td class="text-right">$46,399.22</td>
                    </tr>
                    <tr>
                      <td>Turkey</td>
                      <td class="text-right">$35,364.90</td>
                    </tr>
                    <tr>
                      <td>Germany</td>
                      <td class="text-right">$20,366.96</td>
                    </tr>
                    <tr>
                      <td>France</td>
                      <td class="text-right">$10,366.96</td>
                    </tr>
                    <tr>
                      <td>Australia</td>
                      <td class="text-right">$5,366.96</td>
                    </tr>
                    <tr>
                      <td>Italy</td>
                      <td class="text-right">$1639.32</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</div>
<%-include ('footer')%>
