<%-include ('header')%>

<!-- MAIN CONTENT-->
<div class="main-content">
  <div class="section__content section__content--p30">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="table-responsive table--no-card m-b-30">
            <table class="table table-borderless table-striped table-earning  text-capitalize h5 ">
              <tbody>
                    <tr>
                       <td colspan="2"><img src="<%=doctorData.image%>" class="rounded-circle" width="400" height="400" alt=""></td> 
                    
                    </tr>
                    <tr>
                        <td style="width:20px">Name</td>
                        <td style="width: 20px;"><%=doctorData.name%></td>
                    </tr>
                    <tr>
                        <td>Speciality</td>
                        <td><%=doctorData.departmentId%></td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td><a href="https://www.gmail.com"><%=doctorData.email%></a></td>
                    </tr>
                    <tr>
                        <td>Phone</td>
                        <td><%=doctorData.phone%></td>
                    </tr>
                    <tr>
                        <td>Gender</td>
                        <td><%=doctorData.gender%></td>
                    </tr>
                     <tr>
                        <td>Date of Birth</td>
                        <td><%=doctorData.dob%></td>
                    </tr>
                    <tr>
                        <td>city</td>
                        <td><%=doctorData.city%></td>
                    </tr>
                    <tr>
                        <td><a href="/admin/doctor_details/updateRecord/<%=doctorData.id%>" class="btn btn-success">Edit Profile</a></td>
                    </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%-include ('footer')%>
