<%-include ('header_reception')%>

<!-- MAIN CONTENT-->
<div class="main-content">
  <div class="section__content section__content--p30">
    <div class="container-fluid">
      <div class="row justify-content-between">
        <div class="col-md-4">
          <form class="d-flex">
            <input
              type="text"
              name="search"
              value="<%=search%>"
              class="form-control mb-4 border rounded pt-3"
              style="border-radius: 10px"
            />
            <input
              type="submit"
              name="searching"
              value="search"
              class="form-control mb-4 bg-dark text-white"
              style="width: 200px; border-radius: 10px"
            />
          </form>
        </div>
        <div class="col-md-2">
          <!-- next-previous button pagination -->
          <%if(currentPage!=0){%>
          <a
            href="/admin/reception/view_appointment/?page=<%=currentPage-1%>&search=<%=search%>"
            class="btn btn-info"
            >prev</a
          >
          <%}%>
          <a href="" class="btn btn-warning"> <%=parseInt(currentPage)+1%> </a>
          <%var next=parseInt(currentPage)+1;if(next!=totalpage){%>
          <a
            href="/admin/reception/view_appointment/?page=<%=next%>&search=<%=search%>"
            class="btn btn-info"
            >next</a
          >
          <%}%>
        </div>
        <form action="/admin/reception/del_multiple_appointments" method="post">
          <div class="col-lg-12">
            <div class="table-responsive table--no-card m-b-30">
              <table
                class="table table-borderless table-striped table-earning text-left"
              >
                <thead>
                  <tr>
                    <th>
                      <input type="checkbox" id="checkAll" />
                      <button type="submit">
                        <i class="fa fa-trash text-info"></i>
                      </button>
                    </th>
                    <th>No</th>
                    <th>Name</th>
                    <th>DOB</th>
                    <th>Gender</th>
                    <th>Service</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th>Message</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <%var no=currentPage*per_page+1%> <%for(let ad of appointmentData){%>
                  <tr>
                    <td>
                      <input
                        type="checkbox"
                        value="<%=ad.id%>"
                        name="appointmentIds"
                      />
                    </td>
                    <td><%=no++%></td>
                    <td><%=ad.name%></td>
                    <td><%=ad.dob%></td>
                    <td><%=ad.gender%></td>
                    <td><%=ad.service%></td>
                    <td><%=ad.appointmentDate%></td>
                    <td><%=ad.appointmentTime%></td>
                    <td><%=ad.phone%></td>
                    <td><%=ad.email%></td>
                    <td><%=ad.message%></td>

                    <td>
                      <a
                        href="/reception/deleteRecord/<%=ad.id%>"
                        style="color: red"
                        ><i class="fa fa-trash"></i
                      ></a>
                      ||
                      <a
                        href="/reception/updateRecord/<%=ad.id%>"
                        style="color: blue"
                        ><i class="fa fa-edit"></i
                      ></a>
                    </td>
                  </tr>
                  <%}%>
                </tbody>
              </table>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<%-include ('footer')%>
<script>
  $("#checkAll").click(function () {
    $("input:checkbox").not(this).prop("checked", this.checked);
  });
</script>
