<%-include('header')%>
             <!-- MAIN CONTENT-->
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">  
                        <div class="row justify-content-between">
                            <div class="col-md-4">
                                <form class="d-flex">
                                    <input type="text" name="search" value="<%=search%>" class="form-control mb-4 border rounded pt-3" style="border-radius: 10px;">
                                    <input type="submit" name="searching" value="search" class="form-control mb-4 bg-dark text-white" style="width: 200px;border-radius: 10px;">
                                  </form>
                            </div>
                            <div class="col-md-2">
                                <!-- next-previous button pagination -->
                                <%if(currentPage!=0){%>
                                <a
                                  href="/admin/doctor_details/view_doctor/?page=<%=currentPage-1%>&search=<%=search%>"
                                  class="btn btn-info"
                                  >prev</a
                                >
                                <%}%>
                                <a href="" class="btn btn-warning"> <%=parseInt(currentPage)+1%> </a>
                                <%var next=parseInt(currentPage)+1;if(next!=totalpage){%>
                                <a
                                  href="/admin/doctor_details/view_doctor?page=<%=next%>&search=<%=search%>"
                                  class="btn btn-info"
                                  >next</a
                                >
                                <%}%>
                            </div>
                        </div>                     
                        <form action="/admin/doctor_details/deleteMultiple" method="post">
                            <input type="checkbox" id="checkAll">
                            <button type="submit"><i class="fa fa-trash text-info"></i></button>
                        <div class="row">
                                <%for(let ad of doctor_detailsData){%>
                                <div class="col-md-4">
                                    <div class="card text-capitalize text-center">
                                        <img class="card-img-top" src="<%=ad.image%>" style="height: 350px;object-fit: cover;" alt="Card image cap">
                                        <div class="card-body">
                                            <h3 class="card-title mb-3 text-center"><%=ad.name%></h3>
                                            <h4 class="text-center text-secondary mb-3"><%=ad.departmentId.department_name%></h4>
                                            
                                            <h4 class="mb-3">
                                                <a href="/admin/doctor_details/updateRecord/<%=ad.id%>"><i class="fa fa-edit text-info"></i></a>
                                                <a href="/admin/doctor_details/deleteRecord/<%=ad.id%>"><i class="fa fa-trash text-danger"></i></a>
                                                <input type="checkbox" value="<%=ad.id%>" name="doctorIds">
                                            </h4>
                                            <% if(ad.status){%>
                                                <td><a href="/admin/doctor_details/deactive/<%=ad.id%>"
                                                    class="btn btn-success">Active</a></td>
                                              <%}else{%>
                                                <td><a href="/admin/doctor_details/active/<%=ad.id%>"
                                                    class="btn btn-danger">Deactive</a></td>
                                              <%}%>       
    
                                        </div>
                                    </div>
                                </div>
                            
                           <%}%>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END PAGE CONTAINER-->


<%-include('footer')%>
<script>
    $("#checkAll").click(function () {
        $('input:checkbox').not(this).prop('checked', this.checked);
    });
  </script>